<html>
<body>
Please provide us with a few info to reset your password:
<form action="/resetpasswordtoken" method="post">
Email: <input type="text" name="email"> <br>
Token: <input type="text" name="token"> <br>
New password: <input type="text" name="password"> <br>
New password again: <input type="text" name="password_again"> <br>
<input type="submit" value="Submit"> <br><br>
{% try %}
    {% set msg_ = msg %}
{% except NameError %}
    {% set msg_ = '' %}
{% end %}
{{ msg_ }}
{% raw xsrf_form_html() %}
</form>
<a href="/auth/login">Login here</a> <br>
<a href="/register">Register here</a>
</body>
</html>
