<html>
<body>
Please provide us with a few info to reset your password:
<form action="/resetpasswordtoken" method="post">
{% try %}
    {% set email_ = email %}
{% except NameError %}
    {% set email_ = '' %}
{% end %}
Email: <input type="text" name="email" value={{email_}}> <br>
{% try %}
    {% set token_ = token %} 
{% except NameError %}
    {% set token_ = '' %}
{% end %}    
New password: <input type="password" name="password"> <br>
New password again: <input type="password" name="password_again"> <br>
Token: <input type="text" name="token_in" value={{token_}}> <br>

<input type="submit" value="Submit"> <br><br>
{% try %}
    {% set msg_ = msg %}
{% except NameError %}
    {% set msg_ = '' %}
{% end %}
{{ msg_ }}
{% raw xsrf_form_html() %}
</form>
<a href="/auth/login">Login here</a> <br>
<a href="/register">Register here</a>
</body>
</html>
